.containera {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 7rem;
  align-items: center;
  padding: 30px;
  background-color: rgb(199, 245, 224);
}
.containerb {
  flex: 1;
  text-align: center;
}
.formContainer {
  /* border: 10px solid rgb(158, 198, 47); */
  padding: 6rem 0;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.loginImg {
  flex: 0.8;
  width: 45%;
}
.colForm {
  width: 60%;
}

/* media =========================================================== */

@media (max-width: 992px) {
  .colForm {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .containera {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    height: 100%;
  }
  .colForm {
    width: 100%;
  }
  .loginImg {
    flex: 0.8;
    width: 60%;
  }
}
@media (max-width: 576px) {
  .loginImg {
    flex: 0.8;
    width: 80%;
  }
}
